// ============================== LOGO ============================== header
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}



// ============================= SEARCH ============================= header
.search {
    // background-color: orangered;
    flex: 0 0 40%; // ne zelimo da raste, ne zelimo da se skuplja, zelimo da zauzme 40% od viewporta
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest) {
        order: 1; // a  difoltne su 0, ako ovome stavimo 1, on ce biti poslednji, tj na kraju
        flex: 0 0 100%; // okupira 100%, i posto nema dovoljno mesta, i zbog komande flex-wrap: wrap za smallest u .headeru, ide u sl red i zauzima 100%
        background-color: var(--color-grey-light-2);
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%; // nismo stavili 100% jer ce biti 100% kad stavimo :focus efekat, i animiracemo to
        transition: all .2s;
        margin-right: -3.25rem; // da izgleda kao da je unutar inputa

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3); // menjamo boju SVG iconcice
    }
}




// ============================ USER-NAV ============================ header
.user-nav {
    // background-color: greenyellow;
    align-self: stretch; // ne zelimo da navbar bude vertikalno centriran (sto smo ucinili sa stavljanjem align-items: center u header-u), zato stavljamo stretch za ovaj element, odnosno prostire se od gornje ivice headera do donje sada

    display: flex;
    align-items: center;

    & > * { // selektujemo samo direktne childrene od .user-nava
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; // da bi za potrebe hovera efekat isao od gornje ivice headera (tj user-nava) do donje
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box { // premestili u direct childrene
        // display: flex;
        // align-items: center;
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
        
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}




// ======================== SIDE-NAV ======================== content>sidebar
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 1; // linkocvi zauzimaju svo mesto
        }
    }

    &__item::before { // to ce biti mala linija koja postaje vidljiva i siri se na hover 
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0); // tj nije vidljiva na linija s leve strane
        // transform-origin: bottom; // linija se siri od dole ka gore
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s, // probaj bez ovoga da vidis na sta lici efekat, ovo mu dodje kao delay, tj .2s nakon transform-a
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1); //zasto scaleY jer nam treba efekat od top do bottom-a, dakle izgleda ko da se ova linija sa leve strane povecava prema top-u i bottomu
        width: 100%; // inicijalno je 3px, i kad hoverujemo bude 100%
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10; // ne radi bez position !!!!

        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column; // svg u navu su iznad texta, vise nisu pored
            padding: 1.5rem .5rem;
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; // boja trenutnog elementa, ili parent elementa

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}



// ========================= LEGAL ========================= content>sidebar
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}




// =========================== GALLERY =========================== hotel-view
.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block; // izbegavamo mali prostor izmedju slika, sto se desava sa inline
    }
}



// ========================== OVERVIEW ========================== hotel-view
.overview {
    display: flex;
    // justify-content: space-between; // nije dobro resenje, dodajemo margin-rigth: auto; u stars sto je bolje resenje za efekat koji hocemo da postignemo
    align-items: center;
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars {
        // flex: 1; // ovim zvezdice zauzimaju najveci deo, i previse, zapravo nam treba da okupira prostor koliki je njen content, jer recimo da nam treba neki hover, ne zelimo da promenimo sve to
        margin-right: auto; // ovo je ucinilo ono sto nam treba, zvezdice su odmah pored Hotel Palas, i sirine su koliki je i sadrzaj, tj kolike su i one !!!! margin-right: auto je vrlo korisno sa flexboxom
        // background-color: orangered;
        display: flex; // da zvezdice nemaju neki prostor, jer su one inline, pojma nemam, ugl sad su blize malo, nisu nekak razdvojene
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;

    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch; // da se ovaj div razvuce skroz od gornje do donje ivice, tipa svi ovi elementi zbog align-items: center su centralno postavljeni, ali ovaj overvritujemo sa stretchom

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            font-size: .5rem;
        }
    }
}




// ======================== BTN INLINE ======================== hotel-views>overview
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit; // da nasledi font-size svog parenta, naime, u ovom projektu imacemo 2 ovakva btn-a, samo sto ovaj dole Show all ce biti veceg fonta, al on ce inhertovati tj naslediti sizes svog parenta, i ovaj gore Albufeira, Portugal ce naslediti od svog parenta
    border-bottom: 1px solid currentColor; // sa currentColorom na hover i border promeni boju u koju i text, bez currentColor-a bi morali da dodamo i boju za border-bottom za hover 
    padding-bottom: 2px; // da napravimo neki prostor izmedju donjeg border-a i texta
    display: inline-block;
    background-color: transparent; // da nema neku tu cudnu sivu boju ko sto ima bez ovoga
    cursor: pointer;
    transition: all .2s;

    span {
        margin-left: 3px;
        transition: margin-left .2s; // ne ide all jer se desava neki cudan efekat, kao da prvo hoveruje text pa rarr strelicu
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite; // infinite znaci da dokle god je dugme u fokusu ono izgleda kao da pulsira, tj animacija se ponavlja
    }
}


@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}




// ===================== PARAGRAPH ===================== hotel-views>detail>description (levo)
.paragraph:not(:last-of-type) { // ne koristimo last-child jer to nije last-child, al jeste last-of-type
    margin-bottom: 2rem;
}



// ======================== LIST ======================== hotel-views>detail>description 
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex; // izgleda uzasno samo sa ovim
    flex-wrap: wrap; // zato smo s ovim popravili malo, tj nemamo prevelik razmak izmedju list__item, ali dodacemo list-item fixed sirinu (ne width nego preko flexa), pa ce se to popraviti

    &__item {
        flex: 0 0 50%; // 50% je jer zelimo da imamo 2 elementa jedan pored drugog
        margin-bottom: .7rem;
    }

    &__item::before { // odmah pre item-a, stavljamo svg ikonicu
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;

        // older browsers
        background-image: url("../img/svg/chevron-thin-right.svg"); // kada inkludujemo kao background-image, ne mozemo da menjamo boju, i tu stupa na snagu mask
        background-size: cover;

        //newer browsers - mask, i ovde cemo kasnije raditi @supports
        // mask - definise oblast gde mozemo da gledamo kroz element, i vidimo sta je iza tog elementa, tj stavicemo b-color ovog elementa u solid color i onda koristiti ikonicu kao masku i mocicemo da vidimo kroz tu masku i videti b-color u oblasti gde je ikonica, a sve ostalo je prekriveno, tj bice belo, kao neki cliping
        // background-color: var(--color-primary); // sad izgleda kao da imamo roze kvadratice
        // -webkit-mask-image: url("../img/svg/chevron-thin-right.svg");
        // -webkit-mask-size: cover; // poput background-size
        // mask-image: url("../img/svg/chevron-thin-right.svg");
        // mask-size: cover;

        //newer browsers - mask, i ovde cemo kasnije raditi @supports
        @supports (-webkit-mask-image: url() or (mask-image: url())) {
            background-color: var(--color-primary);
            -webkit-mask-image: url("../img/svg/chevron-thin-right.svg");
            -webkit-mask-size: cover; // poput background-size
            mask-image: url("../img/svg/chevron-thin-right.svg");
            mask-size: cover;
            background-image: none; // ako ovo browser podrzava, da se ukloni ova slika, i stavi ova odavde iz ovog supports
        }

    }
}


// dosta je svg ikonica ucitano preko html, zato cemo sad preko css-u, sto je mnogo teze, ali ovde cemo koristiti single svg ikonicu, tako da nece biti tako tesko, ne ucitavamo preko sprite-a valjda

// ===================== RECOMMEND ===================== hotel-views>detail>description 
.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;


    &__count {
        margin-right: auto; // ovim kao da je gurnuo u desno citav element sa slikama u desno, a to se valjda desava jer ovaj count dobije margin sa desne stranes
    }

    &__friends {
        display: flex; // slike ostaju jedne pored druge sve vreme, ne lome se u drugi red i sl
    }

    &__photo {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff; // ali border ide unutar slika, umessto sa spoljne str da bude, ali tu stupa na stranu box-sizing, i ovo se desava jer je on u resetu stavljen na border-box, sad cemo promeniti za ovaj element da bude na content-box
        box-sizing: content-box;

        &:not(:last-child) {
            margin-right: -2rem; // da slika bude jedna ispod druge, al treb da dodamo i border
        }
    } // photo i count nisu u istoj liniji jer su oboje block elementi, al problem resen sa display: flex
}





// ======================== REVIEW ======================== hotel-views>user-reviews (desno)
.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto; // user-boxu damo margin-right auto i onda on time pushne __rating element u desno
    }

    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__rating {
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before {
        content: "\201C"; // kao html entites sa &ldquo;, ali ovde koristimo ISOnum, tj \201C
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1; // jer je nesto glomazno 
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1;
    }
}




// ====================== CALL TO ACTION ======================= hotel-views
.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
    }

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}



// =================== CALL TO ACTION BTN ==================== hotel-views>cta
.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden; // i ovaj element .invisible je nestao, jer se kao nalazi van granica svog parenta tj .btn, a stavili smo overflow: hidden;
    cursor: pointer;

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        padding: 2rem 0; //  padding: 2rem 7.5rem; ali je zbog ovog ispadalo, nije imao dovoljno prostora da nestane, ili nmp, za sad ostavljamo padding ovako, ali kasnije ce objasniti zasto ne valja
        left: 0;
        top: -100%; // po,era na gore za velicinu elementa, recimo da je 50px, on ce se podici 100% od toga tj 50px
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__visible {
        // necemo koristiti top jer nismo koristili absolute position na __visible, i umesto toga koristimo transform: translateY(100%)
        transform: translateY(100%)
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}